{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">

var hour = 3;

function update() {
  /// call your function here
  document.getElementById('temp-gpu').src = "http://localhost:8000/static/temp-"+hour+".png#time=" + new Date();
  document.getElementById('i-gpu').src = "http://localhost:8000/static/i-"+hour+".png#time=" + new Date();
  document.getElementById('fan-gpu').src = "http://localhost:8000/static/fan-"+hour+".png#time=" + new Date();
  document.getElementById('mhsa-gpu').src = "http://localhost:8000/static/mhsa-"+hour+".png#time=" + new Date();
}

window.setInterval(update, 5000);

</script>
{{ form.media }}
{% endblock %}

{% block content %}
<div id="content" class="colM row-fluid">
 <div id="content-main" class="inner-two-columns">
  <div class="tab-content tab-content-main">
    {% if form.errors %}
    <div class="alert alert-error">
      <strong>Error!</strong> Please correct the error below.
    </div>
    {% endif %}
    <div class="pull-right">
      <button class="btn" onclick="hour=365*24; update();">1 year</button>
      <button class="btn" onclick="hour=24*30; update();">30 days</button>
      <button class="btn" onclick="hour=24*7; update();">7 days</button>
      <button class="btn" onclick="hour=24*5; update();">5 day</button>
      <button class="btn" onclick="hour=24*3; update();">3 days</button>
      <button class="btn" onclick="hour=24; update();">1 day</button>
      <button class="btn" onclick="hour=12; update();">12 hours</button>
      <button class="btn" onclick="hour=6; update();">6 hours</button>
      <button class="btn" onclick="hour=3; update();">3 hours</button>
      <button class="btn" onclick="hour=1; update();">1 hour</button>
    </div>
    <div>
       <h3>Temperature</h3>
       <img id="temp-gpu" src="/static/temp-1.png">
       <h3>Intensity</h3>
       <img id="i-gpu" src="/static/i-1.png">
       <h3>Fan Speed</h3>
       <img id="fan-gpu" src="/static/fan-1.png">
       <h3>Average Hash Rate</h3>
       <img id="mhsa-gpu" src="/static/mhsa-1.png">
    </div>
  </div>
 </div>
</div>
<script>
update();
</script>
{% endblock %}
